<launch>
    <node pkg="week_5_exercises" type="printing_node" name="printing_node" output="screen">
    	<!--
    	<param name="iterations" value="6"/>
    	<param name="string" value="Hello World!"/>
    	-->
    	<rosparam command="load" file="$(find week_5_exercises)/config/node_config.yaml"/>
    </node>
</launch>
